<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="ACME_logo.png" width="100" alt="ACME Logo">
  </a>
  <div>
    <h1 id="titulo">{{ title()}}</h1>
    <!--{{ 'Titulo' + title() }}
    {{ 'Titulo' + getTitle() }}
    {{2*20 +1}}
    <h1 innerText={{ title() }}></h1> -->
  </div>
</nav>
<!--<app-product-list [datos]="filteredProducts()"></app-product-list> -->

<div class="row">
  <div class="col-md-2">Filtrar por:</div>
  <div class="col-md-2">
    <input
      type="text"
      [value]="listFilter()"
      (input)="updateFilter($event)"
      placeholder="Buscar producto"
      aria-label="Buscar producto"
    >
  </div>
  <div class="col-md-2">
    Filtrado por: {{ listFilter() }}
  </div>
  <div class="col-md-2">
    Dato recibido: {{ datoRecibido() }}
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="toggleChildren()">
      <i class="bi bi-eye"></i>
      {{ showChildren() ? 'Ocultar' : 'Mostrar' }} Hijo
    </button>
  </div>
</div>

<br>
@if (showChildren()) {
  <app-product-list [datos]="filteredProducts()" (datoEmitido)="datoRecibido.set($event)"></app-product-list>
}
<br>
<div class = "card card-body">
  @if (weatherData()) {
    <h1 class = "h4">
      Datos del clima para {{weatherData().name}}
      @for (i of weatherData().weather; track $index) {
        <img src = "http://openweathermap.org/img/w/{{i.icon}}.png"
        alt = "{{i.description}}"
        width="100px"
        height="100px">
      }
    </h1>
    <p>Ciudad: {{weatherData().name}}</p>
    <p> Latitud: {{weatherData().coord.lat}}</p>
    <p> Longitud: {{weatherData().coord.lon}}</p>
    <p> Temperatura: {{weatherData().main.temp}} °C</p>
    <p> Humedad: {{weatherData().main.humidity}} %</p>
    <p> Presion: {{weatherData().main.pressure}} hPa</p>
  } 
</div>